<table class="table" width="100%"  >
    <thead>
        <tr class="text-center">
            <th scope="col">Nombres</th>
            <th scope="col">Cantidad de visitas</th>
            <th scope="col">Planeta</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td scope="row">Juan Perez</td>
            <td>20</td>
            <td>Tierra</td>
            <td><button class="btn btn-table btn-secondary"  [routerLink]="['/', 'personas', '']"> <i class="fa fa-eye"></i></button></td>
        </tr>
    </tbody>
</table>