<table class="table" width="100%"  >
    <thead>
        <tr class="text-center">
            <th scope="col">Nombres</th>
            <th scope="col">Cantidad de visitas</th>
            <th scope="col">Planeta</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let person of personas">
            <td scope="row">{{person.name}}</td>
            <td>{{person.counter}}</td>
            <td>{{person.planetName}}</td>
            <td>
                <button class="btn btn-table btn-secondary"  [routerLink]="['/', 'personas', person.id]"> <i class="fa fa-eye"></i></button>
                <button class="btn btn-table btn-secondary bg-danger" (click)="actionDelete(person)"> <i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert-item" *ngIf="personas.length == 0 && !loading">
    <span>No hay registros</span>
</div>