<nav class="nav-container">
    <div class="nav-container--info">
        <div class="logo"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"> <img src="/assets/img/globe.svg" alt=""></a> </div>
        <h1 class="title--principaly">PlanetasApp</h1>
    </div>
    <ul class="nav-container--list">
        <li class="item-list"><a routerLink="/planetas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-item">Planetas</a></li>
        <li class="item-list"><a routerLink="/personas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-item">Personas</a></li>
    </ul>
</nav>