/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "~@ng-select/ng-select/themes/default.theme.css";

:root{
    --font-secondary:'Fredoka One', cursive;
    --font-primary: 'Roboto', sans-serif;
    --color-primary: #072227;
    --color-secondary: #35858B;
    --color-third: #4FBDBA;
    --color-fourth: #727f80;
    --danger:rgb(235 0 0);
}
*{
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
}
.btn{
    background:transparent;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-weight: 600;
    margin: 0 .5rem;
    cursor: pointer;
    transition: background .5s;
}
.btn-table{
    padding: .2rem .5rem;
}
.btn-primary{
    border: .15rem solid var(--color-third);
    color: var(--color-third);
}
.btn:disabled:hover,.btn:disabled {
    background: #0000000d;
    border: .15rem solid #0000000d;
    color: #00000069;
    cursor: default;
}
.btn-primary:hover{
    background: var(--color-third);
    color: #fff;
}
.btn-secondary{
    border: .15rem solid var(--color-fourth);
    color: var(--color-fourth);
}
.btn-secondary:hover{
    border: .15rem solid var(--color-fourth);
    background: var(--color-fourth);
    color: #fff;
}
.btn.is-invalid{
    border: .15rem solid var(--danger);
    background: var(--danger);
    color: var(--danger);
}
.text-center{
    text-align: center;
}
.w-100{
    width:100%;
}
.d-flex{
    display: flex;
}
.alert-item{
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.subtitle{
    font-size: 1.2rem;
    font-weight: 600;
}
.bg-danger{
    border: .15rem solid var(--danger);
    color: var(--danger);
}

.bg-danger:hover{
    background: var(--danger);
    border: .15rem solid var(--danger);
    color: #fff;
}
