<form class="form">
    <div class="d-flex">
        <div class="group-form">
            <label for="">Periodo de rotación</label>
            <input type="text" class="form-control">
        </div>
        <div class="group-form">
            <label for="">Diámetro</label>
            <input type="text" class="form-control">
        </div>
    </div>    
    <div class="d-flex">
        <div class="group-form">
            <label for="">Clima</label>
            <input type="text" class="form-control">
        </div>
        <div class="group-form">
            <label for="">Terreno</label>
            <input type="text" class="form-control">
        </div>
    </div>      
    <div class="d-flex item-button">
        <button class="btn btn-primary">Guardar Información</button>
    </div>    
</form>