.table{
    border-collapse:collapse;
}
.table thead{
    background: var(--color-fourth);
    color: #fff;
    height: 40px;
    border-radius: 1rem;
}
.table tbody tr{
    height: 45px;
    border-bottom: .05rem solid rgba(204, 204, 204, 0.39);
}